
name: Mi Flujo de Trabajo

on:
  push:
    branches:
      - main

jobs:
  mi_trabajo:
    runs-on: ubuntu-latest

    inputs:
      build:
        description: 'Tipo de construcción'
        required: true
        default: 'gradle'

        values: ['gradle', 'maven']

    steps:
      - name: Paso 1
        run: echo "Tipo de construcción seleccionada:${{ inputs.build }}"



        
# name: Mi Flujo de Trabajo

# on:
#   push:
#     branches:
#       - main
#   workflow_dispatch: # Trigger para permitir la ejecución manual
#     inputs:
#       target_repository: # Input para especificar el repositorio de destino
#         description: 'Repositorio de destino duvanquind/Calculator-java'
#         required: true
#         default: 'duvanquind/Calculator-java'

# jobs:
#   mi_trabajo:
#     runs-on: ubuntu-latest

#     steps:
#       - name: Checkout Repositorio de Destino
#         uses: actions/checkout@v2
#         with:
#           repository: ${{ github.event.inputs.target_repository }} # Usa el valor ingresado en el input
#       - name: repo
#         run: echo ${{ github.repository }}

#       - name: Ejecutar Workflow en Repositorio Clonado
#         run: ls
  
#       - uses: actions/checkout@v3
#         with:
#           sparse-checkout: .
        


  
  
